.footer {
    width: 100%;
    height: 30%;
    background: yellow;
}
.slava {
    font-size: 80px;
    padding-top: 60px;
    text-align: center;

}
.data {
    text-align: center;
    font-size: 30px;
}